<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Puzzle-35.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(false)" />
</head>

<body>
    <Routes @rendermode="new InteractiveServerRenderMode(false)" />
    <script src="_framework/blazor.web.js"></script>
    <script>

        // write a method to save a string to local storage
        window.SaveToLocalStorage = (key, value) => {
            localStorage.setItem(key, value);
        }

        // return a string from local storage
        window.GetFromLocalStorage = (key) => {
            return localStorage.getItem(key);
        }

    </script>
</body>

</html>
